/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	width: 100%;
};

// GERERAL STYLING 

section.full.img-3 {
	background: url(../img/EK_4.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.main {
	float:left;
	width:100%;
	margin-top:80px;
	text-align: center;
	padding-top: 60px;
	position: relative;
}

fieldset {
	background: $whitish;
	display:none;
	width:500px;
	padding:20px;
	margin-top:50px;
	margin-left:25%;
	border-radius:5px;
	box-shadow:3px 3px 25px 1px $whitish;
	position: relative;
}

// END - FORM

// START - FORM

#q1 {
	display:block;
	padding:20px;
	border-radius:5px;
	box-shadow:3px 3px 25px 1px gray
}

input[type=submit],input[type=button] {
	width:120px;
	margin:15px 25px;
	padding:5px;
	height:40px;
	background-color:$logo-green;
	border:none;
	border-radius:4px;
	color:#fff;
	font-family:$p-font-family;
}

form {
	i {
		font-size: 16px;
	}
}

.plants fieldset {
	width: 800px;
	border: 15px solid $logo-green;
	text-align: center;
	margin-left:15%;
	position: relative;
	a, strong {
		color: complement($logo-green);
	}
	h2 {
		font-family: $heading-font-family;
	}
	p {
		font-family: $p-font-family;
		font-size: 14px;
	}
}
