body {
	// background-color: $background-color;
	color: $primary-color;
	font-family: $p-font-family;
}

p {
	font-family: $p-font-family;
	font-size: 18px;
}

h1 {
	font-family: $title-font-family;
	text-align: center;
}

h2, h3, h4, h5 {
	font-family: $heading-font-family;
	text-align: center;
}

.full.img-1 {
	background: url(../img/EK_2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.full.img-2 {
	background: url(../img/EK_3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// NAVBAR
.navbar-default {
	background-color: rgba($primary-color, 0.6);
	border-color: transparent;
	border-radius:0;
	padding-top:20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: $whitish;
	background-color:transparent;
}

.navbar-default .navbar-nav>li>a {     // style the links in the list
	color: #000;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}

.navbar-default .navbar-nav li a :hover{ // style links in list when mouse hovers over them
	color: complement($logo-green);
}

.navbar-default .collapse .login a{ 
	color: #82ca9c;
	border: 1px solid #82ca9c;
	border-radius: 20px;
	padding: 4px 30px;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 30px;
	display:inline-block;
	overflow:hidden;
}

.navbar-default .collapse .login:hover a{
	background-color: rgba(0, 173, 62, 0.75);
	color:#fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: complement($logo-green);
	background-color: transparent;
}

.navbar-toggle{
	border: none;
}

.navbar-brand{
	margin-top:0px; 
	a {
		font-family: $title-font-family;
		color: black;
	}
	img{
		display: inline-block;
		width: 5%;
		margin-left: 10px;
	}
}

.navbar {
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}

.navbar.scrolled {
	background: rgba($primary-color, 0.9); //IE
	background: rgba($primary-color, 0.9); //NON-IE
}

// END NAVBAR

// CONTAINER

.container.text-center.title {
		h1 {
			color: $whitish;
			font-size: 75px;
			text-shadow: 3px 0 rgba(black, 0.5), 0 3px rgba(black, 0.5), 3px 0 rgba(black, 0.5), 0 3px rgba(black, 0.5);
			padding-top: 200px;
			padding-bottom: 200px;
			border-color: $border-color;
			margin: 10px;
		}
		margin-bottom: -30px;
}

.container.homepage {
	//background: mix(black, white, 50%);
	background: rgba($whitish, 0.8);
	padding: 80px;
	position: relative;
	h2 {
		color: darken($primary-color, 10%);
	}
	a {
		color: complement($primary-color);
		font-family: $heading-font-family;
		font-size: 30px;
	}
	a:hover {
		color: $primary-color;
	}
}

section.container.howdoesitwork {
	background: rgba($whitish, 0.8);
	padding-top: 80px;
	padding-bottom: 80px;
}

.container.aboutus {
	background: mix(black, white, 50%);
	background: rgba($whitish, 0.8);
	padding: 80px;
	margin-top: 50px;
	margin-bottom: 50px;
	h2 {
		color: darken($primary-color, 10%);
	}
	a {
		color: darken($primary-color, 10%);
		font-family: $heading-font-family;
		font-size: 20px;
	}
	a:hover {
		color: $primary-color;
	}
}

.container.text-center.contact {
		h1 {
			color: $whitish;
			font-size: 42px;
			text-shadow: 0px 0 black, 0 2px rgba(black, 0.25), 2px 0 rgba(black, 0.25), 0 0px black;
			padding-top: 80px;
			padding-bottom: 50px;
			border-color: $border-color;
			margin: 10px;
		}
}

// FOOTER

footer.footer {
	background-color: $whitish;
	//position: absolute;
	ul{
		list-style-type: none;
	}
}

span.glyphicon {
	padding: 5px
}

.menu-item {
	> .row {
		color: black;
	}
	text-align: center;
	margin-top: 60px;
	img {
	display: inline-block;
	width: 20%;
	}
}



