// Colors
$background-color: #ccffcc; 				// greenish
$text-color: darken($background-color, 10%);// dark green
$primary-color: #47476b; 					// grayish
$border-color: darken($primary-color, 20%);	// dark gray
$whitish: #ffffff; 							// white
$logo-green: #56d9b7; 						// green in logo 

// Typography
$title-font-family: 'Raleway', sans-serif;
$p-font-family: 'Karla', sans-serif;
$heading-font-family: 'Raleway', sans-serif;

// Sizes


// SOME FONTS I LIKE
// font-family: 'Dosis', sans-serif;
// font-family: 'Karla', sans-serif;
// font-family: 'Titillium Web', sans-serif; 		:)
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Abel', sans-serif; 				:)
// font-family: 'Ubuntu Condensed', sans-serif; 	:)
// font-family: 'Harmattan', sans-serif;
// font-family: 'Rajdhani', sans-serif;
// font-family: 'Space Mono', monospace;
// font-family: 'Arvo', serif;
// font-family: 'Raleway', sans-serif;