html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title DONT DIE ON ME
		
		link(rel='stylesheet', type='text/css', href='../css/font_awesome/font-awesome.css')
		link(rel='stylesheet', type='text/css', href='../css/main.css')
		
		link(href='https://fonts.googleapis.com/css?family=Abel|Arvo|Dosis|Harmattan|Josefin+Sans|Karla|Rajdhani|Space+Mono|Titillium+Web|Ubuntu+Condensed', rel='stylesheet')
		
		link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
		
		link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')

		style#style-1-cropbar-clipper.
			.en-markup-crop-options {
				top: 18px !important;
				left: 50% !important;
				margin-left: -100px !important;
				width: 200px !important;
				border: 2px rgba(255,255,255,.38) solid !important;
				border-radius: 4px !important;
				}
				.en-markup-crop-options div div:first-of-type {
				margin-left: 0px !important;
				}
	
	body
		.container
			nav.navbar.navbar-default.navbar-fixed-top
				.container.fluid
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					a.navbar-brand(href='/')
						|DON'T DIE ON ME 
						//-img(src='/img/logo_5_fav_bw.jpg', alt='Logo')
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.active
								a(href='/') Home
							li
								a(href='/' + 'form') Questionnaire
							li
								a(href='/' + '#howdoesitwork') How Does it Work?
							li
								a(href='/' + '#aboutus') About Us
							li
								a(href='/' + '#contact') Contact
							//-li
								a(href='#') Log in / Sign Up	

		section.full.img-3
			.container
				.main
					form.regform(action='/questionnaire', method='POST')#msform
						fieldset#q1
							h2 
								strong LICHT
							h3 Hoeveel licht krijgt de plant?
							br
							label
								input(id='qq1' type='radio', name='q1', value="1") 
								i Ik leef op kunstmatig licht
							br
							label
								input(type='radio', name='q1', value="2") 
								i Halfschaduw, halfzon
							br
							label
								input(type='radio', name='q1', value="3") 
								i Volop zon de hele dag door
							br 
							input#next_btn1(onclick='next_step1()', type='button', value='Next')
						fieldset#q2.questionsClass
							h2 ZEEP
							h3 Wel eens een plant om zeep geholpen?
							br
							label
								input(type='radio', name='q2', value="true")
								i Ja
							br
							label
								input(type='radio', name='q2', value="false") 
								i Nee
							br
							input#pre_btn1(onclick='prev_step1()', type='button', value='Previous')
							input#next_btn2(name='next', onclick='next_step2()', type='button', value='Next')
						fieldset#q3.questionsClass
							h2 LIEFDE
							h3 hoeveel zorg en liefde krijgen je planten?
							br
							label
								input(type='radio', name='q3', value="true")
								i Ze zien daglicht, daar is ook alles mee gezegd
							br
							label
								input(type='radio', name='q3', value="false") 
								i Ze krijgen een naam, en ik praat met ze
							br
							input#pre_btn2(onclick='prev_step2()', type='button', value='Previous')
							input#next_btn2(name='next', onclick='next_step3()', type='button', value='Next')
						fieldset#q4.questionsClass
							h2 HUISMUS VS. EXPAT
							p Ben je vaak weg?
							br 
							label
								input(type='radio', name='q4', value="true")
								i Ja
							br
							label
								input(type='radio', name='q4', value="false") 
								i Nee
							br 
							input#pre_btn2(onclick='prev_step3()', type='button', value='Previous')
							input#next_btn2(name='next', onclick='next_step4()', type='button', value='Next')
						fieldset#q5.questionsClass
							h2 VOCHT
							h3 is de ruimte relatief vochtig?
							br
							label
								input(type='radio', name='q5', value="true")
								i Best wel
							br
							label
								input(type='radio', name='q5', value="false") 
								i Valt mee
							br
							input#pre_btn2(onclick='prev_step4()', type='button', value='Previous')
							input#next_btn2(name='next', onclick='next_step5()', type='button', value='Next')
						fieldset#q6.questionsClass
							h2 RUIMTE
							h3 hoeveel ruimte heb je voor de plant?
							br
							label
								input(type='radio', name='q6', value="true")
								i Weinig: hoe kleiner de plant, hoe beter
							br
							label
								input(type='radio', name='q6', value="false") 
								i Veel: hoe groter de plant, hoe beter
							br
							input#pre_btn2(onclick='prev_step5()', type='button', value='Previous')
							input#next_btn2(name='next', onclick='next_step6()', type='button', value='Next')
						fieldset#q7.questionsClass
							h2 PLAFOND
							h3 heeft je huis hoge plafonds?
							br
							.options
								label
									input(type='radio', name='q7', value="true")
									i Ja
								br
								label
									input(type='radio', name='q7', value="false") 
									i Nee
							br
							input#pre_btn2(onclick='prev_step6()', type='button', value='Previous')
							input#next_btn2(name='next', onclick='next_step7()', type='button', value='Next')
						fieldset#q8.questionsClass
							h2 GROENE VINGERS
							p Hoe groen zijn jouw vingers?
							br
							label
								input(type='radio', name='q8', value="true")
								i Rob Verlinden is er niks bij
							br
							label
								input(type='radio', name='q8', value="false") 
								i Zo groen als mijn laatste dode plant
							br 
							input#pre_btn1(onclick='prev_step7()', type='button', value='Previous')
							input#next_btn2(name='next', onclick='next_step8()', type='button', value='Next')
						fieldset#q9.questionsClass
							h2 EETBAAR
							p Waar gaat je voorkeur naar uit?
							br
							options
							label
								input(type='radio', name='q9', value="true")
								i Als het maar groen is
							br
							label
								input(type='radio', name='q9', value="false") 
								i Iets eetbaars graag
							br 
							input#pre_btn1(onclick='prev_step8()', type='button', value='Previous')
							input#next_btn2(name='next', onclick='next_step9()', type='button', value='Next')
						fieldset#q10.questionsClass
							h2 DESIGN
							h3 Wat is je smaak?
							br
							label
								input(type='radio', name='q10', value="true")
								i Modern &amp; minimalistisch
							br
							label
								input(type='radio', name='q10', value="false") 
								i Druk &amp; vintage
							br
							input#pre_btn2(onclick='prev_step9()', type='button', value='Previous') 
							input#next_btn2(name='next', onclick='next_step10()', type='button', value='Next')
					.plants
						fieldset#plant1
							h2 
								strong ZZ PLANT
							br
							p Groen, mooi en vrijwel niet kapot te krijgen zo cool: Zamioculcas is boven alles een sterk staaltje natuur. Deze groene persoonlijkheid heeft stevige, opvallend regelmatige leerachtige bladeren. Ze groeien zo aan de takken dat die een beetje op gestileerde veren lijken. Ondanks de stevige stengels valt Zamioculcas toch onder de kruidachtige planten. Zijn uithoudingsvermogen zit niet zozeer in hout en dikker of zwaarder worden, maar in zijn speciale vaten die vocht en voeding opslaan. Dat maakt het één van de makkelijkste woonplanten ooit. Licht, donker, water vergeten te geven – Zamioculcas blijft er stoïcijns onder en blijft intussen trouwhartig groen en mooi zonder zelfs maar te ruien.
						fieldset#plant2
							h2 
								strong LEPELPLANT
							br
							p Met haar groene, glimmende bladeren, roomwitte aar en spitse schutblad heeft de Lepelplant haar looks mee. Maar vergis je niet, deze woonplant is niet alleen mooi van buiten. Ze werkt namelijk hard aan het zuiveren van de lucht om haar heen, en daar profiteer jij ook van. Want je voelt je lekkerder en productiever in de schone lucht die de Lepelplant voor je regelt. Haal dus nog eens extra diep adem en fluister een lief bedankje tegen haar bladeren.
						fieldset#plant3
							h2 
								strong VARENS
							br
							p Heb je regelmatig hoofdpijn of een droge huid, dan kan het zomaar zo zijn dat je niet naar de apotheek moet, maar naar het tuincentrum. De krulvaren (Nephrolepis) zuivert namelijk de lucht en zorgt voor een perfecte luchtvochtigheid. De Phlebodium en Asplenium werken ook hard aan een schone lucht voor je. Varens komen oorspronkelijk uit (sub)tropische streken en voelen zich daardoor thuis in een omgeving met een hoge luchtvochtigheid. 
						fieldset#plant4
							h2 
								strong KRULVAREN
							br
							p Als een yogaoefening in slow motion ontrolt het blad van de krulvaren zich tot een lange groene veer die al even kalm je huis net even beter maakt. 
							br
							p Krulvaren (officieel Nephrolepis) is een volle, bossige plant met enkele of meervoudige geveerde bladeren. Die groeien eigenwijs alle kanten op, zodat deze groene powerplant graag een beetje ruim staat of hangt om zich optimaal te kunnen ontwikkelen. Nieuwe scheuten en luchtwortels geven hem een heel natuurlijke junglelook. Goed verzorgd kan krulvaren jaren mee en al die tijd doet hij ook wat voor jou: het is een plant met luchtzuiverende eigenschappen, die helpt de lucht in huis te reinigen. Omdat krulvaren van een vochtige omgeving houdt, is het een ideale plant voor in de badkamer, ook omdat je hem daar makkelijk even onder de douche zet.  
						fieldset#plant5
							h2 
								strong VETPLANT
							br
							p Vetplanten zijn gemakkelijk te onderhouden en in veel verschillende soorten verkrijgbaar. Heb jij een vetplantje in huis of op kantoor staan? Wij geven tips voor de verzorging:
							br
							p De familie van de vetkruidgewassen (Crassulaceae) bestaat uit ongeveer 1500 soorten. Heel veel vetplanten vinden het fijn om binnen te staan; droge lucht, zon en warmte verdragen ze goed. Zet ze op een zonnige plaats, maar niet direct in het zonlicht.
						fieldset#plant6
							h2 
								strong GRASLELIE
							br
							p De makkelijkste luchtverfrisser ooit!
							br
							p Deze clean green plant machine zorgt dat jouw longen lekker schoon en fris blijven. En daar vraagt hij heel weinig voor terug. De graslelie (Chlorophytum comosum) is een van de makkelijkst in leven te houden planten. Dus al heb je paarse, blauwe of gele vingers, je kunt het aan. Het liefst wil hij zo’n twee keer per week een slokje water. Maar vergeet je hem een poosje, dan ziet hij dat door zijn groene vingers en zuivert zonder morren door. Vandaar dat hij ook op veel kantoren te vinden is. 
						fieldset#plant7
							h2 
								strong VROUWENTONG
							br
							p Terwijl jij aan het genieten bent van de prachtige decoratieve plant, werkt ze zelf heel hard. De vrouwentong (sanseveria) zet alles op alles om de luchtvochtigheid in je huis op orde te krijgen, zodat ook je huid, ogen en luchtwegen van de plant kunnen genieten. Ze zet giftige stofjes namelijk om in zuurstof. En dan is ze ook nog eens ijzersterk en makkelijk. De woestijnplant heeft zich met gemak aangepast aan het leven in een woonkamer. 
							p Vind je het niet erg om een beetje keuze te hebben? Gelukkig, want er zijn ongeveer 70 verschillende soorten vrouwentongen. Kenmerkend is de grijsgroene kleur met strepen, vlekken en gele randen. Wil je de plant iets donkerder? Zet haar dan verder van het raam af. Lichter? Zet haar dan dichter bij het raam.
						fieldset#plant8
							h2 
								strong BOSTON VARENS
							br
							p Als een yogaoefening in slow motion ontrolt het blad van de krulvaren zich tot een lange groene veer die al even kalm je huis net even beter maakt. 
							p Krulvaren (officieel Nephrolepis) is een volle, bossige plant met enkele of meervoudige geveerde bladeren. Die groeien eigenwijs alle kanten op, zodat deze groene powerplant graag een beetje ruim staat of hangt om zich optimaal te kunnen ontwikkelen. Nieuwe scheuten en luchtwortels geven hem een heel natuurlijke junglelook. Goed verzorgd kan krulvaren jaren mee en al die tijd doet hij ook wat voor jou: het is een plant met luchtzuiverende eigenschappen, die helpt de lucht in huis te reinigen. Omdat krulvaren van een vochtige omgeving houdt, is het een ideale plant voor in de badkamer, ook omdat je hem daar makkelijk even onder de douche zet. 
						fieldset#plant9
							h2 
								strong CACTUS
							br
							p Geen plant zo decoratief en surrealistisch als cactus. Uit een grijsgroene basis kan een knalroze bol groeien en tussen de stekels kunnen schitterende bloemen verschijnen. Mammillaria zijn bloeiende cactussen, Echino is bolvorming met prachtige gelijkmatige ribbels. Gymnocalycium lijkt te zijn opgebouwd uit groene kogels en heeft een trechterbloem, Opuntia groeit in vlakke schijven. En Cereus groeit als een zuil die in het wild wel tien meter kan worden.
							br
							p Verder is de plant prettig zelfredzaam. Cactussen hebben een groot wortelstelsel waarmee ze vocht opslaan in hun wortels, bladeren en stengels en zo zelf grotendeels hun voeding reguleren.
						fieldset#plant10
							h2 
								strong KRUIDEN
							br
							p Sommige planten zijn niet alleen mooi om naar te kijken, maar zijn ook nog eens zeer goed te gebruiken in de keuken. Kruidenplanten worden als smaakmaker gebruikt bij diverse gerechten en in soepen en sauzen. Denk aan bekende kruiden als basilicum, rozemarijn en tijm. 

							h4 Eet smakelijk!
						fieldset#plant11
							h2 
								strong BANANENPLANT
							br
							p Voor een flinke tropische touch in huis is een bananenplant een must. Of een bananenboom, dwergbanaan of Musa… noem hem hoe je wilt. Deze uit de familie Musaceae afkomstige exoot heeft stoere bladeren en is van alle markten thuis. Ben je decoratief op hem uitgekeken - bijna onmogelijk  - dan gebruik je de bladeren als dakbedekking, haal je textiel uit de schijnstam of maak je je eten klaar in de bladeren. Dorstig geworden van al het genieten? Maak dan net als de Oost-Afrikanen een flink glas bananenbier of –wijn*.
							br
							p De bananenplant wordt vaak bananenboom genoemd, omdat hij een schijnstam heeft. Vanuit het middelpunt wordt steeds een nieuw bladerendek omhooggeduwd, vervolgens ontvouwt het zich. De schijnstam van de Musa ingens kan een omvang van maar liefst drie meter krijgen.

							//-input.submit_btn(onclick='validation(event)', type='submit', value='Submit')

		
		//-FOOTER
		footer.footer
			.container
				.row
					.footer-menu-wrapper
						.col-md-4.col-sm-6.col-xs-12
							.menu-item
								.navbar-brand DON'T DIE ON ME
						.col-md-4.col-sm-6.col-xs-12
							.menu-item
								//-img(src='/img/logo_5_fav.jpg', alt='Logo');
								img.img-responsive(src='/img/logo_5_fav.jpg')
						.col-md-4.col-sm-6.col-xs-12
							.menu-item
								p.text-muted
									ul#nav
										a(href='/') Home
										li
											a(href='/' + '#questionnaire') Questionnaire
										li
											a(href='/' + '#howdoesitwork') How Does it Work?
										li
											a(href='/' + '#aboutus') About Us
										li
											a(href='/' + '#contact') Contact
										//-li
											a(href='#') Log in / Sign Up
				.row
					.menu-item
						p made with love by Maatje van der Veer
						p illustrations by Elzeline Kooy

		//- JAVASCRIPT
		script(src='./js/jquery-3.1.1.js')
		script(src='./js/bootstrap.min.js')
		script(src='./js/bootstrap.js')
		script(src='./js/custom.js', type='text/javascript')


		//- JS FOR NAVBAR
		script.
			function checkScroll(){
				var startY = $('.navbar').height() * 2;

				if($(window).scrollTop() > startY){
					$('.navbar').addClass("scrolled");
				}else{
					$('.navbar').removeClass("scrolled");
				}
			}

			if($('.navbar').length > 0){
				$(window).on("scroll load resize", function(){
					checkScroll();
				});
			}