html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title DONT DIE ON ME
		
		link(rel='stylesheet', type='text/css', href='../css/font_awesome/font-awesome.css')
		link(rel='stylesheet', type='text/css', href='../css/main.css')
		
		link(href='https://fonts.googleapis.com/css?family=Abel|Arvo|Dosis|Harmattan|Josefin+Sans|Karla|Rajdhani|Space+Mono|Titillium+Web|Ubuntu+Condensed', rel='stylesheet')
		
		link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
		
		link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
		style#style-1-cropbar-clipper.
			.en-markup-crop-options {
				top: 18px !important;
				left: 50% !important;
				margin-left: -100px !important;
				width: 200px !important;
				border: 2px rgba(255,255,255,.38) solid !important;
				border-radius: 4px !important;
				}
				.en-markup-crop-options div div:first-of-type {
				margin-left: 0px !important;
				}
	
	body
		.container
			nav.navbar.navbar-default.navbar-fixed-top
				.container.fluid
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
					a.navbar-brand(href='/')
						|DON'T DIE ON ME 
						//-img(src='/img/logo_5_fav_bw.jpg', alt='Logo')
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.active
								a(href='#home') Home
							li
								a(href='#howdoesitwork') How Does it Work?
							li
								a(href='#aboutus') About Us
							li
								a(href='#contact') Contact
							li
								a(href='#') Log in / Sign Up

		section.full.img-1#home
			.container.text-center.title
				h1
					strong DON'T DIE
					br
					strong ON ME

			section
				.container.homepage
					h2 WHICH HOUSEPLANT SUITS YOU BEST?
					br
					p
					| Get video posted to internet for chasing red dot. Favor packaging over toy my slave human didn&apos;t give me any food so i pooped on the floor. Unwrap toilet paper purr for no reason kitty scratches couch bad kitty, kitty poochy so go into a room to decide you didn&apos;t want to be in there anyway. Mark territory poop on grasses chase the pig around the house. Cats go for world domination. Caticus cuteicus when in doubt, wash yet drink water out of the faucet so eat all the power cords lick plastic bags but white cat sleeps on a black shirt milk the cow. Stare at the wall, play with food and get confused by dust then cats take over the world mew for destroy couch white cat sleeps on a black shirt chase imaginary bugs. Fall over dead (not really but gets sypathy) spend all night ensuring people don&apos;t sleep sleep all day for poop in litter box, scratch the walls but ignore the squirrels, you&apos;ll never catch them anyway.
					br
					h2
						a(href='/form') Find it out here!
					
		
		section.container.howdoesitwork#howdoesitwork
			h2 HOW DOES IT WORK?
			br
			.container
				.row
					.col-md-4 Pop-up williamsburg cornhole, venmo truffaut blue bottle fam narwhal listicle iPhone freegan. Yuccie portland messenger bag pitchfork food truck, retro tousled cornhole thundercats la croix vape bitters. Small batch locavore plaid vaporware brooklyn wayfarers, biodiesel hashtag humblebrag flannel vape williamsburg selvage woke.  
					.col-md-4 Mixtape woke humblebrag vice pork belly. Craft beer snackwave asymmetrical, cred leggings air plant messenger bag before they sold out master cleanse crucifix hell of waistcoat.
					.col-md-4 Mixtape venmo sustainable, street art irony yr cray copper mug pour-over blue bottle photo booth brunch. Helvetica flexitarian organic thundercats vaporware, yr tote bag VHS crucifix irony cliche vape jianbing jean shorts.

		section.full.img-2#aboutus
			.container.aboutus
				h2 ABOUT US
				br
				p
				| Get video posted to internet for chasing red dot. Favor packaging over toy my slave human didn&apos;t give me any food so i pooped on the floor. Unwrap toilet paper purr for no reason kitty scratches couch bad kitty, kitty poochy so go into a room to decide you didn&apos;t want to be in there anyway. Mark territory poop on grasses chase the pig around the house. Cats go for world domination. Caticus cuteicus when in doubt, wash yet drink water out of the faucet so eat all the power cords lick plastic bags but white cat sleeps on a black shirt milk the cow. Stare at the wall, play with food and get confused by dust then cats take over the world mew for destroy couch white cat sleeps on a black shirt chase imaginary bugs. Fall over dead (not really but gets sypathy) spend all night ensuring people don&apos;t sleep sleep all day for poop in litter box, scratch the walls but ignore the squirrels, you&apos;ll never catch them anyway.
				br

			section.container.text-center.contact#contact
				h1
					strong CONTACT
			
		.container.homepage.text-center
			p Slotermeerlaan 1 
			p 1064 GX, Amsterdam
			p 
				span.glyphicon.glyphicon-phone 
				| +31 6 21 35 23 19
			p 
				span.glyphicon.glyphicon-envelope 
				| mjvanderveer@gmail.com

		footer.footer
			.container
				.row
					.footer-menu-wrapper
						.col-md-4.col-sm-6.col-xs-12
							.menu-item
								.navbar-brand DON'T DIE ON ME
						.col-md-4.col-sm-6.col-xs-12
							.menu-item
								//-img(src='/img/logo_5_fav.jpg', alt='Logo');
								img.img-responsive(src='/img/logo_5_fav.jpg')
						.col-md-4.col-sm-6.col-xs-12
							.menu-item
								p.text-muted
									ul#nav
										li
											a(href='/') Home
										li
											a(href='/#') About Us
										li
											a(href='/#') Contact
										li
											a(href='/#') Log In / Sign Up
										p

		script(src='./js/jquery-3.1.1.js')
		script(src='./js/bootstrap.min.js')
		script(src='./js/bootstrap.js')
		script.
			function checkScroll(){
				var startY = $('.navbar').height() * 2;

				if($(window).scrollTop() > startY){
					$('.navbar').addClass("scrolled");
				}else{
					$('.navbar').removeClass("scrolled");
				}
			}

			if($('.navbar').length > 0){
				$(window).on("scroll load resize", function(){
					checkScroll();
				});
			}
