doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Don't Die On Me
		link(rel='stylesheet', type='text/css', href='../css/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='../css/main.css')
		link(href="https://fonts.googleapis.com/css?family=Abel|Arvo|Dosis|Harmattan|Josefin+Sans|Karla|Rajdhani|Space+Mono|Titillium+Web|Ubuntu+Condensed" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")

		//- //if lt IE 9
		//- 	script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
		//- 	script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

	body
		
		h1 
			strong DON'T DIE ON ME NOW

		h2 which houseplant suits you best? 

		p Get video posted to internet for chasing red dot. Favor packaging over toy my slave human didn't give me any food so i pooped on the floor. Unwrap toilet paper purr for no reason kitty scratches couch bad kitty, kitty poochy so go into a room to decide you didn't want to be in there anyway. Mark territory poop on grasses chase the pig around the house. Cats go for world domination. Caticus cuteicus when in doubt, wash yet drink water out of the faucet so eat all the power cords lick plastic bags but white cat sleeps on a black shirt milk the cow. Stare at the wall, play with food and get confused by dust then cats take over the world mew for destroy couch white cat sleeps on a black shirt chase imaginary bugs. Fall over dead (not really but gets sypathy) spend all night ensuring people don't sleep sleep all day for poop in litter box, scratch the walls but ignore the squirrels, you'll never catch them anyway. 


		//- JAVASCRIPT
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='js/bootstrap.min.js')